@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Young+Serif&display=swap");

body {
  background: #000;
  margin: 0;
  font-family: "Young Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
